<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gyms</title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      .toolbar {
        background-color: green;
        color: white;
        padding: 30px;
        display: flex;
        justify-content: space-between;
      }

      #back-btn {
        background-color: #FFFFFF;
        color: #000;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 17px;
      }
    </style>
  </head>
  <body>
    <div class="toolbar">
      <td><span th:text="${userName}" id="userName"></span></td>
      <a href="/gyms" >
        <input type="button" value="Back" id="back-btn">
      </a>
    </div>

    <div id="add-container">
      <h2>Add gym</h2>

      <form th:action="@{/addW}" method="post" th:object="${addW}">
        <label for="name">name:</label>
        <input th:field="*{name}" id="name" required><br/>

        <label for="publiclyAvailable">Publicly available:</label>
        <select th:field="*{publiclyAvailable}" id="publiclyAvailable" required>
          <option value=No>No</option>
          <option value=Yes>Yes</option>
        </select><br/>

        <input type="submit" value="Done" id="done-btn">
      </form>
    </div>

  </body>
</html>