<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>RepMaster</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        text-align: center;
        margin: 0;
        padding: 0;
      }
    </style>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

  </head>

  <body>

  <table>
    <tr th:each="gym : ${gyms}">
      <td><span th:text="${gym.id}">1</span></td>
      <td><span th:text="${gym.name}">MyGym</span></td>
      <td><span th:text="${gym.location}">GymLocation</span></td>
      <td><span th:text="${gym.split}">GymSplit</span></td>
      <td><span th:text="${gym.howEquipped}">GymHowEquipped</span></td>
    </tr>
  </table>

    <form th:action="@{/newGym}" method="post" th:object="${newGym}">
      <input th:field="*{name}"><br/>
      <input type="submit" value="OK">
    </form>

    <td><span th:text="${msg}">1</span></td>
    <a href="registration.html">
      <input type="button" value="Registration" id="registration-btn">
    </a>
  </body>
</html>